<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Inicio</title>
    <style>
    .demo {
      margin-left: 50px;
    }
    .demo1 {
      margin-left: 100px;
    }
  </style>
</head>
<body>
    <div th:each="post : ${posts}">
        <div th:if = "${post.showPost} == 'SI'">
            <p th:text="${post.title}">title</p>
            <img class="info" th:src="${post.image}" alt="Paris" width="150" height="150" />
            <div class = "demo">
            <p th:text="${post.text}">text</p>
            <p th:text="${post.date}">date</p>
            <p th:text="${post.likes}">likes</p>
            <p th:each= "user : ${post.user}"><div th:text="${user.name}"></div></p>
                <p>Comentarios: </p>
            </div>
            <div class = "demo1" th:each="comment : ${post.comments}">
                <p th:text="${comment.text}"></p>
                <p th:text="${comment.date}"></p>
                <p th:text="${comment.likes}"></p>
            </div>
        </div>
    </div>
</body>
</html>
