<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Product</title>
</head>
<body>
<b> Title: </b><p th:text="${post.title}"></p>
<b> Text: </b><p th:text="${post.text}"></p>
<b> Likes: </b><p style="color: blue;" th:text="${post.likes}"></p>
<b> User: </b><p th:each= "user : ${post.user}"><div th:text="${user.name}"></div></p>
<b> Category: </b><p th:each= "category : ${post.category}"><div th:text="${category.name}"></div></p>
<a th:href="${'/Post/like/'+post.id}">Like</a>
<a th:href="${'/Post/dislike/'+post.id}">Dislike</a>
<br></br>
<b>Comentario:</b>
<form class="form-horizontal" th:object="${comment}" th:action="@{/comment}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{post}"/>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{text}"/>
            <span style="color: red;" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Errors</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Usuario-Comentario:</label>
        <div class="col-sm-10">
            <select th:field="*{user}">
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.name}"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default">Guardar</button>
    </div>
</form>
<div><b>Comentarios:</b></div>
<div th:each="comment : ${post.comments}">
    <div th:text="${comment.text}"></div>
    <span style="font-size: 10px;" th:text="${comment.date}"></span>
    <div style="color: blue;" th:text="${comment.likes}"></div>
    <b> User: </b><p th:each= "user : ${comment.user}"><div th:text="${user.name}"></div></p>
    <a th:href="${'/Comment/like/'+comment.id}">Like</a>
    <a th:href="${'/Comment/dislike/'+comment.id}">Dislike</a>
</div>
</body>
</html>